@import './app.scss';
@import './animacionTexto.css';

.Pages{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &__img{
    width: 20em;
    height: 6em;
  }
  &__title{
    font-size: 9em;
  }
  &__frase{
    font-size: 3em;
  }
  
  &__cta{
    font-size: 3em;
  }
  &__btn{
    width: 100vw;
    @extend .centradoFlex;
  }
}
.btn{
  width: 11rem;
  height: 2rem;
  padding: 0%;
  margin: 1%;
  text-decoration: none;
  border-radius: 30px;
  border: 0;
  font-size: large;
  @extend .sombraClara;
  @extend .centradoFlex;
  &-blanco-color{
      color: $color-claro;
      @extend .degragadoColor;
  }
  &-blanco-color:hover{
    background-color: $color-primario;
}
  &-whatsapp{
    position: relative;
    background-color: #26D566;
    color: $color-claro;
    
    & img{
      height: 2rem;
      background: $color-oscuro;
      border-radius: 50%;
      -moz-box-shadow: 3px 0px $color-oscuro;
      -webkit-box-shadow: 3px 0px $color-oscuro;
      position: absolute;
      left:0%;
      @extend .sombraOscura;
    }
  }
  &-whatsapp:hover{
    background-color: #178640;
    color: $color-claro;
    & img{
      left:80%;
      transition: 450ms all;
    }
  }
}